<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <!-- <th scope="col">Fecha Final</th> -->
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <th scope="row"> {{inscripcion.clienteobtenido.nombre}} {{inscripcion.clienteobtenido.apellido}} </th>
            <td>{{inscripcion.fecha | date}}</td>
            <!-- <td>{{inscripcion.fechafinal | date}}</td> -->
            <td>
                <img width="50px" height="50px" [src]="inscripcion.clienteobtenido.imgurl" alt="">
            </td>
          </tr>

        </tbody>
      </table>
      
      


</div>